@import "../../sass/variables.scss";

.container {
  background-color: $white;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10pt;
  width: 100%;
  height: 80px;
  padding: 0.3rem;

  input,
  button {
    background: none;
    border: none;
    border-radius: $radius;
  }

  .controls {
    button {
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .input-text {
    margin-bottom: 4px;
    padding: 5px;
    width: 100%;
  }

  .button-submit {
    background-color: $green;
    color: $white;
    padding: 8px 12px;
  }
}
