@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
$roboto-font: "Roboto", sans-serif;

$bg-grey: #fafbfc;
$white: #fff;
$dark-hover: rgba(9, 30, 66, 0.08);
$turquoise: rgb(0, 174, 204);
$black: #000;
$navy-blue: #182c4c;
$dark-blue: #106ba5;
$blue: #127bbd;
$light-blue: #62a4d1;
$gray: #ebecf0;
$green: #5aac44;

$radius: 0.5rem;
