@import "../../sass/variables.scss";

.container {
  background-color: $blue;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  justify-items: stretch;
  padding: 5px;

  button {
    border: none;
  }

  .add-new-column {
    background-color: $light-blue;
    border-radius: $radius;
    color: $white;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    padding: 18px 32px;
    max-height: 32px;
    width: 100%;
    transition: all 0.1s;

    .icon {
      font-size: 14px;
      margin-right: 5px;
    }

    &:hover {
      background-color: $dark-hover;
    }
  }
}
