@import "../../sass/variables.scss";

.wrapper {
  .container {
    background-color: $gray;
    border-radius: $radius;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 10px;
  }
}
