@import "../../sass/variables.scss";

.container {
  background-color: $dark-blue;
  color: $white;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px 10px;

  a {
    text-decoration: none;
  }

  .nav {
    display: flex;
    width: auto;
    margin-right: 5px;
    padding: 0 5px;

    .link {
      border-radius: $radius;
      background-color: $light-blue;
      color: $white;
      display: flex;
      align-items: center;
      justify-items: center;
      padding: 10px;
    }
  }

  .arrows {
    position: absolute;
    right: 1%;
    top: 15px;
    display: flex;
    align-items: center;

    .arrow {
      color: $light-blue;
      margin-left: 5px;
    }

    .arrow--active {
      color: $white;
    }

    .arrow--left {
      transform: scaleX(-1);
    }
  }
}
